.logo{
    background-image: url(https://static.cdninstagram.com/rsrc.php/v3/yK/r/ATdtiLb2BQ9.png);
    background-position: 50% 0px;
    background-size: 176px 181px;
    width: 175px;
    height: 51px;
    background-repeat: no-repeat;
    display: inline-block;
}