.nav_wrap{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:20px 12px;
    box-sizing: border-box;
}

.nav_wrap .start{
    height: 92px;
    flex-shrink: 0;
}

.nav_wrap .center{
    flex-grow: 1;
    width:100%;
}

.nav_wrap .end{
    
}